.tabla-container {
  width: 80%;
  margin: 20px auto;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  color: white;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #8d8d8d;
}

tr:hover {
  background-color: #8d8d8d;
}
.tablaTitulo {
  margin-bottom: 20px;
  color: white;
}
